// COLORS
$primary: #fff;
$secondary: #fff;
$accent: #fff;

$link-color: #fff;
$title-color: #fff;
$text-color: #fff;
$border-color: #fff;
$border-light-color: #fff;
$base-color: #fff;
$footer-color: #fff;
$placeholder-color: #fff;
$background-color: #fff;


// TYPOGRAPHY
$text-size: 1.6rem;
$text-weight: 400;
$text-size--small: 1.2rem;

$subtitle-size: 2.2rem;
$subtitle-weight: 700;

$title-size: 2.8rem;
$title-weight: 500;


// SPACINGS
$spacing: 2.4rem;